@media screen and (max-width: 999px)
    .customization
        height: 100%

    .customization-images-wrapper
        flex-direction: column

    .customization-images-description
        margin: 0 auto

    .menu-items
        display: none !important
        
    #hamburger-icon
        display: block


@media screen and (max-width: 700px)
    .contact-us-form
        height: 100%
        flex-direction: column

    .contact-info
        width: 50%
        margin: 0 auto

    .form
        width: 50%
        margin: 0 auto
        margin-bottom: 40px
        margin-top: 40px

    .btn-wrapper
        .btn
            width: auto

    .parallax-image-text
        p
            text-align: center

@media screen and (max-width: 650px)
    .features
        flex-direction: column
        height: auto
    
    .customization
        margin-top: 40px

    .design
        padding: 0 20px
        margin-top: 40px

    .parallax-image
        background-position: initial

    .title
        font-size: 7em

@media screen and (max-width: 580px)
    .parallax-image-text
        h2
            font-size: 60px

@media screen and (max-width: 480px)
    .title
        font-size: 5em
        top: 70% 
    
    .customization-images-wrapper
        padding: 0 !important

    .contact-us
        .heading
            h2
                font-size: 30px
        .description
            font-size: 15px

@media screen and (max-width: 380px)
    .parallax-image-text
        h2
            font-size: 50px

    .customization-image
        width: 300px !important

    .customization-images-wrapper
        display: none !important

    .contact-us
        &:after
            display: none

    .customization
        padding-top: 30px

    .contact-us
        height: 300px
