.footer
    margin-top: 505px
    width: 100%

.contact-us
    @extend .admin-panel
    color: #fff
    height: 240px
    background-color: #21c2f8
    display: flex
    flex-direction: column
    .description
        color: #fff
        margin-top: 0
